Flask==2.3.4
Flask-SQLAlchemy==3.0.5
Flask-PyMongo==2.3.0
loteria_caixa==0.1.7
requests==2.31.0
urllib3==2.0.4
Jinja2==3.1.2
Werkzeug==2.3.6
click==8.1.7
itsdangerous==2.1.2
pymongo==4.5.1
python-dotenv==1.0.1
