*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,body{
    width:100%;
    background:#fff;
   
}

body{
    background:#000;
    overflow:hidden;
}

.container{
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:80px;
}



/* SLOT CANVAS */
#slotCanvas{
    width:100%;
    max-width:900px;
    height:100%;
    max-height:85vh;
    min-height:360px;
    background:#000;
    border-radius:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding:15px;
    box-shadow:0 0 25px rgba(0,255,255,.6);
}

/* ÁREA DOS REELS */
#reels{
  animation: piscar 1s infinite alternate;     
  display:flex;
  width:100%;
  height:100%;
  border-radius:20px;
  aspect-ratio:3 / 3;
  max-height:60vh;
  background:#111;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  box-shadow:0 0 10px #fff,0 0 20px #0ff,0 0 40px #fff;
  gap:6px;
}

@keyframes piscar {                                
  0% { border-color: #fff }                                
  100% { border-color: orange; }                                
}      

/* COLUNA */
.reel{
  flex:1;
  height:100%;
  overflow:hidden;
  position:relative;
  <!-- border:2px solid white; -->
  border-radius:12px;
  background:rgba(0,0,0,0.2);
}

/* PILHA */
.reel .icons{
  width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  align-items:stretch;
  justify-content:flex-start;
  gap:0;
  position:relative;
  will-change:transform;
  transform:translateY(0);
  
}

/* CÉLULA */
.reel .icons .symbol,
.reel .icons img,
.reel .icons .emoji-symbol{
  flex:0 0 calc(100% / 3);
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  height:calc(100% / 3);
  box-sizing:border-box;
  user-select:none;
  -webkit-user-drag:none;
  border-bottom:1px solid rgba(255,255,255,0.1);
  object-fit:contain;
  pointer-events:none;
  
}

/* ÚLTIMA LINHA */
.reel .icons .symbol:last-child,
.reel .icons img:last-child,
.reel .icons .emoji-symbol:last-child{
  border-bottom:none;
}

/* WIN */
.reel .icons .symbol.win,
.reel .icons img.win,
.reel .icons .emoji-symbol.win {
  transform: scale(1.15);
  z-index: 9999;
  animation: 
      pulse-glow 1s infinite,
      changeBackgroundImage 1s infinite;
  }
  
  /* brilho */
  @keyframes pulse-glow {          
    0% { filter: brightness(100%); }          
    50% { filter: brightness(150%); }          
    100% { filter: brightness(100%); }          
  }
  
  /* fundo dourado animado */
  @keyframes changeBackgroundImage {          
    0% { 
      background-image:url("https://res.cloudinary.com/dptprh0xk/image/upload/v1765468247/win1_mwdbxz.png"); 
    }          
    100% { 
      background-image:url("https://res.cloudinary.com/dptprh0xk/image/upload/v1765468247/win1_mwdbxz.png"); 
    }          
  }
  
.msg {
      position: fixed;
      display:flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 9999;
      background-image: url("https://res.cloudinary.com/dptprh0xk/image/upload/v1765234429/pngwing.com_1_pgr4aj.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s;
      font-size: 100px;
      font-weight: bold;
      color: #000;
      text-shadow:
          0 0 10px #39ff14,
          0 0 20px #39ff14,
          0 0 30px #39ff14,
          0 0 40px #1a8f03;
      animation: flicker 1.5s infinite alternate;
    }

    
    @keyframes flicker {
      0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
          0 0 4px #39ff14,
          0 0 11px #39ff14,
          0 0 19px #39ff14,
          0 0 40px #1a8f03;
      }
      20%, 24%, 55% {
        text-shadow: none;
      }
    }



.linha-separadora {
  width: 100%; /* Ou um valor fixo, como 300px */
  height: 0; /* Para não ocupar espaço vertical */
  border-bottom: 1px solid #ccc; /* Cor, espessura e estilo */
  margin: 20px 0; /* Espaçamento acima e abaixo */
}






/* RESPONSIVO */
@media(max-width:768px){
  #reels{max-height:45vh;}
  #spin{width:130px;height:130px;}
  .betminus,.betplus,.auto,.turbo{
    width:65px;
    height:65px;
  }
}

/* RESPONSIVO */
@media(max-width:350px){
  #reels{max-height:40vh;}
  #spin{width:100px;height:100px;}
  .betminus,.betplus,.auto,.turbo{
    width:60px;
    height:60px;
  }

  .panel {
  	height: auto;
  }
}
