<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saldo e Movimentações da Conta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/movimentacoes.css') }}">
</head>
<body>

<div class="container">

    <section class="balance-section">
        <div class="balance-card">
            <img src="https://res.cloudinary.com/doik0qtfr/image/upload/v1765756283/file_000000001b0071f58bcbc51e9c9d664d_rnlva3.png">
            <h2>Saldo Disponível</h2>
            <p class="balance-amount" id="balance">{{ balance }}</p>
            <p class="account-info">ID: {{ user_id }}</p>
            <p class="account-info">CPF: {{ cpf }}</p>
        </div>
    </section>

    <section class="transactions-section">
        <h2>Últimas Movimentações</h2>

        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>ID</th>
                    <th>Descrição</th>
                    <th>Tipo</th>
                    <th>Valor</th>
                </tr>
            </thead>

            <tbody>
                {% for mov in movimentacoes %}
                <tr class="{{ 'income' if mov.tipo == 'Entrada' else 'expense' }}">
                    <td>{{ mov.data }}</td>
                    <td>{{ mov.id }}</td>
                    <td>{{ mov.descricao }}</td>
                    <td>{{ mov.tipo }}</td>
                    <td>
                        {% if mov.tipo == 'Entrada' %}
                            + R$ {{ mov.valor }}
                        {% else %}
                            - R$ {{ mov.valor }}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

</div>

<script>
    window.USER_ID = "{{ user_id }}";
</script>

</body>
</html>
