
<!DOCTYPE html>
<html>
<head>
  <title>Ferrari Games itech.io Fotune Slot 5x3</title>
  <meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.2.3/dist/css/bootstrap-reboot.min.css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style5x3.css') }}">
</head>

<body>

<input type="checkbox" id="menu-toggle">
<label for="menu-toggle" style="position:fixed;top:20px;left:20px;z-index:999999;">
  <div class="hamburguer"></div>
</label>

<nav>
  <ul id="menu-list">
    <li><a href="/acesso/users/painel/{{ user_id }}">Home</a></li>
    <li><a href="/acesso/users/pagamentos/{{ user_id }}">Movimentações</a></li>
    <li><a href="#">Informaçoes Jogo</a></li>
  </ul>
</nav>

<div id="slotCanvas">

  <div id="jackpot">
    <h1 class="slogan">{{user_id}}</h1>
   
  </div>

  <div id="linesLayer"></div>

  <div id="reels">
    <div class="reel"></div>
    <div class="reel"></div>
    <div class="reel"></div>
    <!-- <div class="reel"></div> -->
    <!-- <div class="reel"></div> -->
  </div>

  <div id="controls">
    <div class="secao-saldo">
      <span class="titulo-saldo">SALDO</span>
      <span class="valor-saldo" id="balance">{{ balance }} </span>
    </div>

    <div class="secao-apostas">
      <span class="titulo-apostas">APOSTAS</span>
      <span class="valor-apostas" id="betValue"> 0.50 </span>
    </div>

    <div class="secao-ganhos">
      <span class="titulo-ganhos">GANHOS🪙</span>
      <span class="valor-ganhos" id="win">---- </span>
    </div>
  </div>

  <div id="spin-control">
    <div class="turbo">
      <button onclick="toggleGrid()"></button>
    </div>

    <div class="betminus">
      <button onclick="betMinus()"></button>
    </div>

    <button type="button" id="spin">SPIN</button>

    <div class="betplus">
      <button onclick="betPlus()"></button>
    </div>

    <div class="auto">
      <button onclick="autoplay()"></button>
    </div>

  </div>

</div>

<!-- Usando módulos ES6 -->
<script type="module">
  import Slot from "{{ url_for('static', filename='js/Slot5x3.js') }}";
  import Reel from "{{ url_for('static', filename='js/Reel5x3.js') }}";
  import Symbol from "{{ url_for('static', filename='js/Symbol5x3.js') }}";

  const config = {
    inverted: false,
    onSpinStart: (symbols) => console.log("onSpinStart", symbols),
    onSpinEnd: (symbols) => console.log("onSpinEnd", symbols)
  };

  const slotCanvas = new Slot(document.getElementById("slotCanvas"), config);
  window.USER_ID = "{{ user_id }}";
</script>

</body>
</html>
